{% extends "base.html" %}

{% load static %}

{%block style %} 
<link rel="stylesheet" href="{% static "styles/style-catalog.css" %}">
{% endblock %}

{%block content %}

<div class="main-container">

        
        <div class="container">

            {% for book in books %}

            <div class="card">
                <img src="{{ book.image.url }}" alt="">
                <div class="info">

                    <p>{{ book.name }}</p>
                    
                    
                    <div class="status"> 
                    {% if user.is_authenticated %}               
                        <a href="{% url "mybooks:book_add" %}" class='add-to-book' data-book-id="{{ book.id }}">
                        {% csrf_token %}
                        Добавить в прочитанное</a>
                    {% else %}
                        <a href="{% url "user:login" %}">
                        Войдите для функционала!
                        </a>
                    {% endif %}
                    </div>
                    
                </div>
            </div>
            
            {% endfor %}



{% endblock %}



